.container__loader {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 60%;
  height: 1vmax;
  background-color: var(--border);
}

.bar {
  height: 100%;
  background-color: var(--primary);
}
