.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4vw;
  min-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to top,
    var(--bg1) 60%,
    rgba(255, 255, 255, 0) 100%
  );
  z-index: 10;
}

.footer > nav > a {
  color: var(--fc2);
  flex: 1 1;
  font-weight: 500;
  padding: 0.5em 0;
}

.nav {
  position: relative;
  width: 15vw;
  min-width: 300px;
  display: flex;
  text-align: center;
}

.nav__slider {
  bottom: 0;
  left: 0;
  position: absolute;
  height: 0.1em;
  background-color: var(--primary);
  transition: all 0.5s var(--transition);
}
