.container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
}

.grid {
  flex: 1 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.greeting {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.container__model {
  position: absolute;
  width: 100%;
  height: 80%;
  z-index: 0;
}
