.container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container__titles {
  width: 100%;
  height: max(400px, 50vh);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
}

.container__titles > div {
  margin: 6vw;
}

.container__titles h1 {
  margin: 0;
}

.container__content {
  flex: 1 1;
  overflow: hidden;
  overflow-y: scroll;
  padding: max(4vw, 80px) 5%;
}

.card {
  margin: 1em 0;
}

.card > div {
  width: 100%;
  aspect-ratio: 6 / 5;
}

.card__text {
  position: relative;
  border: 1px solid var(--border);
  background-color: var(--bg2);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.card__text > * {
  padding: 0.5em 0;
}

.card__text h5 {
  position: absolute;
  padding: 1rem;
  margin: 0;
  bottom: 0;
  right: 0;
  line-height: 1;
  opacity: 0.2;
  color: var(--fc1);
  transform: scale(1.2);
}

.card__showcase {
  border: 1px solid var(--border);
  overflow: hidden;
  overflow-y: scroll;
}

.card__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__links svg {
  width: max(1.4rem, 1.2vw);
  height: auto;
  margin-right: 0.6em;
  opacity: 0.5;
}

.card__links svg:hover path,
.card__links svg:focus path {
  fill: var(--primary);
}

@media (min-width: 650px) {
  .card {
    display: flex;
  }

  .card:nth-of-type(even) {
    flex-direction: row-reverse;
  }

  .card__showcase {
    padding: 1rem;
  }
}

@media (min-width: 1100px) {
  .container {
    flex-direction: row;
    height: 100vh;
    overflow: hidden;
  }

  .container__titles {
    text-align: start;
    width: unset;
    height: unset;
    align-items: flex-start;
    padding: 6vw 0;
    flex: 1 1;
  }

  .container__content {
    overflow: hidden;
    overflow-y: scroll;
  }

  .card {
    margin: 0;
  }
}
